<%- include('../includes/header.ejs') %>

    </head>

    <body>

        <style>
            .login {
                min-height: 100vh;
                padding: 3.75rem;
                display: flex;
                align-items: center;
            }

            .login-content {
                max-width: 25.5rem;
                margin: 0 auto;
                position: relative;
                -webkit-box-flex: 1;
                -ms-flex: 1;
                flex: 1;
            }
        </style>
        <script>
            let message;


            function getCookie(name) {
                var nameEQ = name + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                    if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
                }
                return null;
            }
            async function updatePassword() {
                let password = document.getElementById("password").value;
                if (password.length > 8) {


                    document.getElementById("resetButton").disabled = true;
                    var csrfToken = getCookie("csrf-token");

                    let token = document.getElementById("token").value;
                    return await fetch(`http://localhost:3000/api/reset/${token}`, {
                        method: "POST",
                        headers: {
                            Accept: "application/json, text/plain, */*",
                            "Content-Type": "application/json",
                            "csrf-token": `${getCookie("csrf-token")}`,
                        },
                        body: JSON.stringify({
                            password: document.getElementById('password').value
                        }),
                        credentials: "include",
                        mode: "cors",
                    })
                        .then((response) => {
                            if (response.status == 200) {
                                document.getElementById('container').style.display = "block";
                                document.getElementById('message').classList.add('alert');
                                document.getElementById('message').classList.add('alert-success');
                                document.getElementById('message').innerHTML = "Password Updated";
                                document.getElementById('visible').style.display = "none";

                            }
                            else {
                                document.getElementById('container').style.display = "block";
                                document.getElementById('message').classList.add('alert');
                                document.getElementById('message').classList.add('alert-danger');
                                document.getElementById('message').innerHTML = "Something went wrong..";
                                document.getElementById("resetButton").disabled = false;

                            }
                        })
                }
                else {
                    document.getElementById('container').style.display = "block";
                    document.getElementById('message').classList.add('alert');
                    document.getElementById('message').classList.add('alert-danger');
                    document.getElementById('message').innerHTML = "Please enter a valid password..";
                    document.getElementById("resetButton").disabled = false;
                }
            }
        </script>

        <div class="login">
            <div class="login-content">

                <h1 class="text-center my-4">Enter new password</h1>

                <div>
                    <input type="hidden" id="token" name="token" value="<%= token %>">
                    <div id="container" class="mb-3">
                        <p id="message"></p>
                    </div>
                    <div id="visible">
                        <div class="mb-3">
                            <input id="password" class="form-control form-control-lg fs-15px" type="password"
                                placeholder="Password" minlength="8" required />
                        </div>
                        <div class="md-3">
                            <button onclick="updatePassword()" id="resetButton"
                                class="btn btn-primary btn-lg d-block w-100 fw-500 mb-3">
                                Reset
                            </button>
                        </div>
                    </div>
                </div>



            </div>
        </div>
    </body>

    </html>